name: Code Coverage

on:
  pull_request:
    branches:
      - exp

env:
  REMOTETESTDOWN: ${{ vars.REMOTETESTDOWN }}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build-deps:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install System dependencies
        shell: bash -l {0}
        run: sudo apt update && sudo apt install -y libaec-dev zlib1g-dev automake autoconf libcurl4-openssl-dev libjpeg-dev wget curl bzip2 m4 flex bison cmake libzip-dev lcov

      - name: Cache libhdf5-1.14.3
        id: cache-hdf5
        uses: actions/cache@v4
        with:
          path: ~/environments/1.14.3
          key: hdf5-${{ runner.os }}-1.14.3-ubuntu-22.04

      - name: Build libhdf5-1.14.3
        if: steps.cache-hdf5.outputs.cache-hit != 'true'
        run: |
          set -x
          wget https://support.hdfgroup.org/ftp/HDF/releases/HDF4.2.15/src/hdf-4.2.15.tar.bz2
          tar -jxf hdf-4.2.15.tar.bz2
          pushd hdf-4.2.15
          ./configure --prefix=${HOME}/environments/1.14.3 --disable-static --enable-shared --disable-fortran --disable-netcdf --with-szlib --enable-hdf4-xdr
          make -j
          make install -j
          popd
    
          wget https://support.hdfgroup.org/ftp/HDF5/releases/hdf5-1.14/hdf5-1.14.3/src/hdf5-1.14.3.tar.bz2
          tar -jxf hdf5-1.14.3.tar.bz2
          pushd hdf5-1.14.3
          ./configure --disable-static --enable-shared --prefix=${HOME}/environments/1.14.3 --enable-hl --with-szlib
          make -j
          make install -j
          popd

  coverage:
    needs: build-deps
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install System dependencies
        shell: bash -l {0}
        run: sudo apt update && sudo apt install -y libaec-dev zlib1g-dev automake autoconf libcurl4-openssl-dev libjpeg-dev wget curl bzip2 m4 flex bison cmake libzip-dev lcov

      - name: Fetch HDF Cache
        id: cache-hdf5
        uses: actions/cache@v4
        with:
          path: ~/environments/1.14.3
          key: hdf5-${{ runner.os }}-1.14.3-ubuntu-22.04

      - name: Check Cache
        shell: bash -l {0}
        run: ls ${HOME}/environments/1.14.3 && ls ${HOME}/environments/1.14.3/lib

      - name: Configure with Coverage
        shell: bash -l {0}
        run: |
          mkdir build
          cd build
          cmake .. \
            -DCMAKE_PREFIX_PATH=${HOME}/environments/1.14.3 \
            -DCMAKE_BUILD_TYPE=Debug \
            -DNETCDF_ENABLE_COVERAGE_TESTS=ON \
            -DNETCDF_ENABLE_HDF5=ON \
            -DNETCDF_ENABLE_DAP=ON \
            -DNETCDF_ENABLE_NCZARR=ON \
            -DNETCDF_ENABLE_TESTS=ON

      - name: Print Summary
        shell: bash -l {0}
        run: |
          cd build
          cat libnetcdf.settings

      - name: Build
        shell: bash -l {0}
        run: |
          cd build
          LD_LIBRARY_PATH=${HOME}/environments/1.14.3/lib make -j 4

      - name: Run Tests
        shell: bash -l {0}
        run: |
          cd build
          LD_LIBRARY_PATH=${HOME}/environments/1.14.3/lib ctest --output-on-failure -j 4

      - name: Generate Coverage Report
        shell: bash -l {0}
        run: |
          cd build
          lcov --capture --directory . --output-file coverage.info
          lcov --remove coverage.info '/usr/*' '*/test/*' '*/tests/*' --output-file coverage.info
          lcov --list coverage.info

      - name: Upload to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ./build/coverage.info
          fail_ci_if_error: false
          verbose: true

      - name: Verbose Output if CTest Failure
        shell: bash -l {0}
        run: |
          cd build
          LD_LIBRARY_PATH=${HOME}/environments/1.14.3/lib ctest --rerun-failed --output-on-failure -VV
        if: ${{ failure() }}
